<div class="container">
	<div class="row-fluid">
    <h1> <%= @tutorial.title %> </h1>
    <div class="col-md-10" style="float: center;">
      <p><%= @tutorial.content %></p>
    </div>
  </div>
</div>
