<div class="container-fluid">
  <div class="row">
    <div class="index-part-1">
      <div class="lp-block-1">
          <h1>让知识有价值</h1>
        <h2>与更多的人分享你的知识和技能</h2>
        <div>
          <%= link_to("开始写教程", new_tutorial_path, class:"lp-block-1-button") %>
        </div>
      </div>
    </div>

    <nav class="subnavbar navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">最新 </a></li>
            <li><a href="#">最热</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">其他</a></li>
          </ul>
        </div>
      </div>
    </nav>

<div class="index-part-3">
  <div class="container">
      <div class="row" id="tutorials">
        <%= render @tutorials %>




      </div>
      <div class="load_more">
        <p>加载更多</p>
        <%= will_paginate @tutorials %>
      </div>



  </div>
</div>


  </div>
  <!-- row -->
</div>
<!-- container -->
