<h2>我购买的教程</h2>

<div class="row">
  <% @tutorials.each do |tutorial| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/200x200&text=No Pic" alt="No Pic">
        <div class="caption">
          <h3><%= tutorial.title %></h3>
          <p><%= tutorial.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
