<div class="container">
	<div class="row-fluid">
    <h1> <%= @tutorial.title %> </h1>

    <div class="col-md-10" style="float: center;">


				<%= render "image_and_description" %>
				<%= link_to("查看教程", buy_tutorial_path(@tutorial), method: :post, class: "btn btn-default",  :data => { :confirm => "确认购买?"} ) %>
        <div class="comment">
         <%= render :partial => "comments/comments", :collection => @comments, :as => :comment %>
         <!-- 显示评论 -->

        </div>


				</div>




	    
	  </div>
		<!-- row -->
	</div>
	<!-- container -->
