<div class="panel-heading">
  <div class="panel-title">
    <h3>答疑服务<span><%= link_to("新建答疑服务", new_account_answer_path, class: "btn btn-success pull-right") %></span></h3>
  </div>
</div>



<div class="panel-body">
  <div class="container-fluid">
    <% @answers.each do |answer| %>
      <%= link_to(account_answer_path(answer)) do %>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"><%= answer.title %><span class="pull-right" style="font-size:10px">已上架</span></h3>
          </div>
          <div class="panel-body">
            <p><%= answer.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
