// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.PreviewDetail{
  margin-top: 10px;
  padding: 15px;
  overflow: hidden;
}
.PreviewDetailShow {
  margin-top: 10px;
  padding: 15px;
  overflow: hidden;
  min-width: 270px;
  max-width: 500px;
  .search {
    float:left;
    margin-left: -10px;
    margin-top: 10px;
  }
}

.PreviewPic {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width:auto;
  max-width: 500px;
  height: 300px;
}
.line {
  width: 90%;
  height: 0.5px;
  margin-left: auto;
  margin-right: auto;
  color: #677987;
  background-color: #677987;
  margin-top:20px;
}
.PreviewDes {
  display: block;
  text-align: left;
  margin: 18px auto -8px auto;
  font-size: 15px;
  font-weight: 380;
  color: #677987;
  padding: 8px;
}
.TutorialDetail {
  img {
    margin: 0;
    height: 30px;
    width: 30px;
  }
  margin: 0px 5px 20px auto;
  button {
    float: left;
    margin: 15px -5px 0px 20px;
  }

}
.voteShow {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 500px;
  .btn {
    margin: 5px;
  }
}
.searchShow {
  float:left;
  max-width: 500px;
}
.TutorialShow {
  margin-top:15px;
  margin-bottom: 15px;
  line-height: 18px;
  float: right;
  padding: 30px !important;

  .contentShow img {
    width:80%;
    height: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  }
}

.newcomment {
  .btn {
    float:right;
    margin-top: -20px;
  }
  margin-bottom: 30px;
}
.comments {
  margin-top: 20px;
  margin-bottom: 60px;

}
.verticalline {
  border-left: 1px solid #F0F4F8;
}
.CommentContent {
  margin-left: 120px;
  padding: 10px;
  font-size: 14px;
  font-weight: 380;

}
.CommentBtn {
  float:right;
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 12px;
  color:white;
  a {
    color:#F0F4F8;
  }
  a:hover {
    color:#677987;
  }
}
.CommentDiv {
  li {
    margin-top: 10px;
    margin-bottom: -20px !important;
    border-radius: 0 !important;
  }
}
.BuyBtn {
  display: table;
  margin: 25px auto 15px auto;
}
.PhotoBtn {

  margin: 5px;
}
.Littlenotice {
  float:right;
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 12px;
  z-index: -1;
}
