<footer class="site-footer col-md-12 col-md-offset-0">
  <div class="def-footer">
    <div class="help-link">
      <ul class="list-inline">
        <li>
          <a href="/about_us">关于我们</a>
        </li>
        <li>
          <a href="#">为我投票</a>
        </li>
      </ul>
      </div>
    <div class="copyright-info">
      <span>Copyright ©2017 顶教程
          Design by 成元 & 朱南征</span>
    </div>
  </div>
</footer>
